<section id="main-content">
    <section class="wrapper site-min-height">
      <div class="row">
        <div class="col-lg-12">
          {% for i in orders %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div style="background-image: url(/static/images/products/{{i.product_id}}.jpeg);background-attachment: scroll;background-repeat: no-repeat; background-position: center; background-size: cover;max-block-size: fit-content;text-align: center;">
              <!-- <div class="icn-main-container">
                <img class="img-responsive" src="/static/usrimg/{{i.seller_id}}.png" style="width: 90px; height: 90px;border-radius: 50%; object-fit: cover; margin: auto;">
              </div> -->
              <div style="background-color: rgba(0, 0, 0, 0.521);">
              <div class="servicetitle">
                <strong><h4 style="color: rgb(255, 255, 255);">Buyer: {{i.name}}</h4></strong>
              </div>
              <ul class="pricing">
                <li><strong><h4 style="color: rgb(255, 255, 255);"><p>{{i.product_name}} for {{i.duration}}{{i.duration_unit}}</p><p> @ {{i.price}}{{i.price_unit}}</p><p> {{i.quantity}}{{i.quantity_unit}}/{{i.frequency}}{{i.frequency_unit}}</p></h4></strong></li>
              </ul>
              <p><strong><h4 style="color: rgb(255, 255, 255);">STATUS:{{i.order_status}}</h4></strong></p>
              <!-- <a class="btn btn-success" type="button" id="cancelorder" href="/orderstatus/orderid={{i.order_id}}&status=accepted/">Accept</a>
              <a class="btn btn-danger" type="button" id="cancelorder" href="/orderstatus/orderid={{i.order_id}}&status=declined/">Decline</a> -->
            </div>
          </div>
            <!-- end custombox -->
          </div>
          <!-- end col-4 -->
          {% endfor %}
        </div>
        <!--  /col-lg-12 -->
      </div>
      <!--  /row -->
    </section>
    <!-- /wrapper -->
  </section>