<section id="main-content">
    <section class="wrapper site-min-height">
      <div class="row">
        <div class="col-lg-12">
{% for i in c %}
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="custom-box">
              <div class="servicetitle">
                <h4>{{i.product.name}}</h4>
                <hr>
              </div>
              <div class="icn-main-container">
                <img class=" img-responsive" src='/static/images/products/{{i.product.id}}.jpeg' style="width: 220px; height: 120px; object-fit: cover; margin: auto;">
              </div>
              <ul class="pricing">
                <li>{{i.duration}}&nbsp{{i.duration_unit}}</li>
                <li>{{i.frequency}}&nbsp{{i.frequency_unit}}</li>
                <li>{{i.quantity}}&nbsp{{i.quantity_unit}}</li>
                <li>₹{{i.price}}/-&nbsp{{i.price_unit}}</li>
              </ul>
              <button class="btn btn-danger" type="button" onclick ="location.href='/Contracts_Manager/Active_Contracts/deactivate/{{i.id}}/'" >Deactivate</button>
            </div>
            <!-- end custombox -->
          </div>
          <!-- end col-4 -->
{% endfor %}
        </div>
        <!--  /col-lg-12 -->
      </div>
      <!--  /row -->
    </section>
    <!-- /wrapper -->
  </section>