<section id="main-content">
      <section class="wrapper">
        <br><p></p>
              {%for f in farmers %}
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="white-panel pn">
                  <a href="/user/{{f.email}}/">
                  <p><img src="/static/usrimg/{{f.id}}.png" class="img-responsive" style="width: 100px; height: 100px; object-fit: cover; margin: auto;border-radius: 50%;"></p>
                  <p><b>{{f.name}}</b></p>
                  <p>{{f.locality}}</p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="small mt">MEMBER SINCE</p>
                      <p>2012</p>
                    </div>
                    <div class="col-md-6">
                      <div class="small mt">Currently Serving</div>
                      <div>23<span>customers</span></div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                  </div>
                      </a>
                </div>
              </div>
              {% endfor %}
</section>
</section>
