<script src="/static/js/cart.js" async></script>

<script>

</script>


<section id="main-content">
  <section class="wrapper site-min-height">
    <div class="row">
      <h5 class="as_bf" style="display: none;">{{usr.id}}</h5>
      <!-- <div class="col-lg-12">
        <div class="row content-panel" style="background-image: url('/static/images/coverimg/{{qusr.id}}.jpg');background-attachment: fixed;background-repeat: no-repeat; background-position: center; background-size: cover" >
          <div class="col-md-4 profile-text mt mb centered">
            <div class="profile-pic">
              <p><img src="/static/usrimg/{{qusr.id}}.png" class="img-circle"></p>
              <h2 style = "text-transform:uppercase; color: blanchedalmond; background-color: rgba(50, 115, 220, 0.3);border-radius: 25px; margin: auto; padding: 10px 10px;" >{{qusr.name}}</h2>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-lg-12 mt">
        <div class="row content-panel">
          <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a data-toggle="tab" href="#About_Me" aria-expanded="false">About_Me</a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#Active_Contracts" aria-expanded="false">Active_Contracts</a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#Reviews" aria-expanded="true">Reviews</a>
              </li>
            </ul>
          </div>

          <!-- /panel-heading -->
          <div class="panel-body">
            <div class="tab-content">

              <div id="About_Me" class="tab-pane active">
                <div class="row">

                  <!-- Personal Details -->
                  <div class="col-md-6">
                    <div class="detailed mt">
                      <h4>Personal Details</h4>
                      <div class="recent-activity">

                          Personal details here
                          <div class="profile-pic">
                            <p><img src="/static/usrimg/{{qusr.id}}.png" class="img-circle"></p>
                            <h2>{{qusr.name}}</h2>
                          </div>

                      </div>
                    </div>
                  </div>
                  <!-- /Personal Details -->

                  <!-- Farm Details -->
                  <div class="col-md-6">
                    <div class="detailed mt">
                      <h4>Farm Details</h4>
                      <div class="recent-activity">
                        
                        Farm details here

                      </div>
                    </div>
                  </div>
                  <!-- /Farm Details -->
                </div>
              </div>
              <!-- /About_Me -->

              <!-- Active_Contracts -->
              <div id="Active_Contracts" class="tab-pane">

                
                <div class="activity-panel">
                    <div class="row">
                      <div class="col-sm-3" ></div>
                      <div class="col-sm-6"><h5 >Make a Kit</h5></div>
                      <div class="col-sm-3">
                        <!-- <form method="POST" id="csrf_var"> -->
                          <button class="btn btn-success" id="btn-purchase" style="float: right;">Buy Now</button>{% csrf_token %}
                        <!-- </form> -->
                      </div>
                    </div>
                    <div class="rowwithtotal" style="background: #FFFFFF;border: 1px solid #DCDBD7;">
                      <div id="cart_items" class="cart_items"></div>
                    <div class="row" style="padding: 5px;">
                      <div class="col-sm-9"><h6 id="cartemptymsg">Cart is Empty</h6></div>
                      <div class="col-sm-3"><h4 id="totalpriceelement">Total : ₹0/- Indian Rupees</h4></div>
                    </div>
                  </div>
                </div>

                <div class="row contract_items">
                  <!-- for loopA will be used here to view number of contracts offered by user -->
                  {% for i in c %}
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="custom-box" id="product_div">
                      <div class="servicetitle">
                        <h4 class="productname" id="productname">{{i.product.name}}</h4>
                        <h4 class="productid" style="display: none;">{{i.product.id}}</h4>
                        <hr>
                      </div>
                      <div class="icn-main-container">
                        <img id="productimg" class=" img-responsive productimg" src='/static/images/products/{{i.product.id}}.jpeg' style="width: 220px; height: 120px; object-fit: cover; margin: auto;">
                      </div>
                      <ul class="pricing">
                        <li class="duration" id="duration">{{i.duration}}&nbsp{{i.duration_unit}}</li>
                        <li class="frequency" id="frequency">{{i.frequency}}&nbsp{{i.frequency_unit}}</li>
                        <li class="quantity" id="quantity">{{i.quantity}}&nbsp{{i.quantity_unit}}</li>
                        <li class="productprice" id="price">₹{{i.price}}/-&nbsp{{i.price_unit}}</li>
                      </ul>
                      <p>
                        <button  class="btn btn-danger addtocartbutton" id="addtocartbutton" >Add to Cart</button>
                      </p>
                      </div>
                    <!-- end custombox -->
                  </div>
                  <!-- end col-4 -->
        {% endfor %}
                  <!-- end for loopA -->

                </div>
              </div>
              <!-- /Active_Contracts -->

              <!-- Reviews -->
              <div id="Reviews" class="tab-pane">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 detailed">

                    <!-- for viewing reviews -->
                    <div class="row" style="border-radius: 25px;border: blue;">
                      <div><span style="float: left;">reviewer photo here </span><span style="float: right;">review text here</span></div>
                      <hr>
                    </div>
                    <!-- /for viewing reviews -->
                    
                  <!-- for inserting review -->
                  <form method="POST">{% csrf_token %}
                  <textarea name='reviewtext' rows="3" class="form-control" placeholder="write a review about the farmer."></textarea>
                  <div class="grey-style">
                    <div class="pull-left">
                      <div class="txt-center">
                            <div class="rating">
                                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                <label for="star5" >☆</label>
                                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                <label for="star4" >☆</label>
                                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                <label for="star3" >☆</label>
                                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                                <label for="star2" >☆</label>
                                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                <label for="star1" >☆</label>
                                <div class="clear"></div>
                            </div>
                      </div>
                    </div>
                    <div class="pull-right">
                      <button type='submit' class="btn btn-sm btn-theme03">POST</button>
                    </div>
                  </div>
                </form>
                  <!-- /for inserting review -->
                </div>
                  </div>
                <!-- /row -->
              </div>
              <!-- /Reviews -->

            </div>
            <!-- /tab-content -->
          </div>
          <!-- /panel-body -->
        </div>
        <!-- /col-lg-12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </section>
  <!-- /wrapper -->
</section>