<section id="main-content">
  <section class="wrapper site-min-height">
    <div class="row mt">

      <div class="col-lg-12">
        <div class="row content-panel" style="background-image: url('/static/images/coverimg/{{qusr.id}}.jpg');background-attachment: fixed;background-repeat: no-repeat; background-position: center; background-size: cover" >
          <div class="col-md-4 profile-text mt mb centered">
            <div class="profile-pic">
              <p><img src="/static/usrimg/{{qusr.id}}.png" class="img-circle"></p>
              <h2 style = "text-transform:uppercase; color: blanchedalmond; background-color: rgba(50, 115, 220, 0.3);border-radius: 25px; margin: auto; padding: 10px 10px;" >{{qusr.name}}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 mt">
        <div class="row content-panel">
          <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a data-toggle="tab" href="#About_Me" aria-expanded="false">About_Me</a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#Active_Contracts" aria-expanded="false">Active_Contracts</a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#Reviews" aria-expanded="true">Reviews</a>
              </li>
            </ul>
          </div>

          <!-- /panel-heading -->
          <div class="panel-body">
            <div class="tab-content">

              <div id="About_Me" class="tab-pane active">
                <div class="row">

                  <!-- Personal Details -->
                  <div class="col-md-6">
                    <div class="detailed mt">
                      <h4>Personal Details</h4>
                      <div class="recent-activity">

                          Personal details here

                      </div>
                    </div>
                  </div>
                  <!-- /Personal Details -->

                  <!-- Farm Details -->
                  <div class="col-md-6">
                    <div class="detailed mt">
                      <h4>Farm Details</h4>
                      <div class="recent-activity">
                        
                        Farm details here

                      </div>
                    </div>
                  </div>
                  <!-- /Farm Details -->
                </div>
              </div>
              <!-- /About_Me -->

              <!-- Active_Contracts -->
              <div id="Active_Contracts" class="tab-pane">
                <div class="row">

                  <!-- for loopA will be used here to view number of contracts offered by user -->
                  {% for i in c %}
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="custom-box">
                      <div class="servicetitle">
                        <h4>{{i.product.name}}</h4>
                        <hr>
                      </div>
                      <div class="icn-main-container">
                        <img class=" img-responsive" src='/static/images/products/{{i.product.id}}.jpeg' style="width: 220px; height: 120px; object-fit: cover; margin: auto;">
                      </div>
                      <ul class="pricing">
                        <li>{{i.duration}}&nbsp{{i.duration_unit}}</li>
                        <li>{{i.frequency}}&nbsp{{i.frequency_unit}}</li>
                        <li>{{i.price}}&nbsp{{i.price_unit}}</li>
                        <li>₹{{i.price}}/-&nbsp{{i.price_unit}}</li>
                      </ul>
                      <button type="button" name='Buy' class="btn btn-danger" href='#'>Buy Now</button>
                    </div>
                    <!-- end custombox -->
                  </div>
                  <!-- end col-4 -->
        {% endfor %}
                  <!-- end for loopA -->

                </div>
              </div>
              <!-- /Active_Contracts -->

              <!-- Reviews -->
              <div id="Reviews" class="tab-pane">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 detailed">

                    <!-- for viewing reviews -->
                    <div class="row" style="border-radius: 25px;border: blue;">
                      <div><span style="float: left;">photo :</span><span style="float: right;">review text</span></div>
                      <hr>
                    </div>
                    <!-- /for viewing reviews -->
                    
                  <!-- for inserting review -->
                  <form action="/review/" method="POST">{% csrf_token %}
                  <textarea name='reviewtext' rows="3" class="form-control" placeholder="write a review about the farmer."></textarea>
                  <div class="grey-style">
                    <div class="pull-left">
                      <div class="stars">
                          <input class="star star-5" id="star-5" type="radio" name="star"/>
                          <label class="star star-5" for="star-5"></label>
                          <input class="star star-4" id="star-4" type="radio" name="star"/>
                          <label class="star star-4" for="star-4"></label>
                          <input class="star star-3" id="star-3" type="radio" name="star"/>
                          <label class="star star-3" for="star-3"></label>
                          <input class="star star-2" id="star-2" type="radio" name="star"/>
                          <label class="star star-2" for="star-2"></label>
                          <input class="star star-1" id="star-1" type="radio" name="star"/>
                          <label class="star star-1" for="star-1"></label>
                      </div>
                    </div>
                    <div class="pull-right">
                      <button type='submit' class="btn btn-sm btn-theme03">POST</button>
                    </div>
                  </div>
                </form>
                  <!-- /for inserting review -->
                </div>
                  </div>
                <!-- /row -->
              </div>
              <!-- /Reviews -->

            </div>
            <!-- /tab-content -->
          </div>
          <!-- /panel-body -->
        </div>
        <!-- /col-lg-12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </section>
  <!-- /wrapper -->
</section>